body {
  padding: 0;
  margin:0 auto;
  /* overflow: hidden; */
}
/*  */
main, header,footer{
  width:100%;
  margin-top: -1em;
}
a{
  text-decoration: none;
}
a:visited {
  color:black;
}
a:hover{
animation: glow infinite 1s;
}
@keyframes glow {
  0% { color:#000}
  25% {color:#696969}
  50% { color:#fff }
  75% {color:#696969}
  100% { color:#000}
}
/* Styling for the h2 descriptions */
section > article >h2{
background-color: #696969;
padding:0 10px;
box-shadow: 10px 5px 5px #000;
}
/* Navigation Section */
#nav-links{
  background-color: #696969;
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
#nav-links > li{
  height: 15px;
  padding:01.5em;
  /* border-right: 2px solid #000; */
   /* border-left: 2px solid #000; */
}
/* End Navigation Section */

/* Picture Section */
#picture-section{
   display:flex;
   justify-content: center;
   height: 85vh;
   background: linear-gradient(70deg,white,#42ebf4);
}
#myPhoto{
  border:5px solid #000;
  border-radius: 10px;
  width:100%;
}

h1{
  font-size: 1.2em;
}
/* End Picture Section */

/* About */
#about{
  background: url('./astronomy.jpg') no-repeat center center;
  background-size: cover;
  /* opacity: 0.33; */
}

article{
  margin:0 auto;
  width:75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article > div{
  margin: 0 20px;
}
#about > article> div >p{
  line-height: 2.5;
  color:#fff;
}
/*End AbouT  */

/*API SECTION*/
#api{

}
#results-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
  list-style-type: none;
}
/*END API*/

/* Footer section */
footer{
  width:50%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
/* End Footer section */
